@{
  Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
  <h1>Login Info :</h1>
  <p>Welcome @User.Identity.Name.</p>
  @using (Html.BeginForm("Logoff", "Account"))
  {
    <input type="submit" value ="Log Out"/>
    @Html.ActionLink("Home", "Index", "Home")
  }
}
else
{
  <p>Login</p>
}