@{
  Layout = "_Layout";
}

<h1>Pierre's Sweet and Savory Treats!</h1>
<p>Order from Pierre's Bakery for some tasty treats.</p>

@if (User.Identity.IsAuthenticated)
{
  @Html.ActionLink("List of Treats", "Index", "Treats")
  @Html.ActionLink("List of Flavors", "Index", "Flavors")
}
else
{
  <p>Login to your account @Html.ActionLink("here", "Login", "Account")</p>
  <p>If you don't have an account, please register here @Html.ActionLink("here", "Register", "Account")</p>
}